@{
    Layout = null;
}


<div id="footer">
    <div id="footmain">
        <p>
            <a href="/About/?Id=1">关于我们</a>┊ <a href="/About/?Id=2">联系我们</a>┊<a href="/About/?Id=3">商务合作</a>┊<a href="/About/?Id=4">服务条款</a>┊ <a href="/About/?Id=5">人才招聘</a>┊ <a href="/About/?Id=6">家长监护</a>
        </p>
        <p>
            鄂ICP备13013403号-1  网络文化经营许可证 鄂B2-20130099
        </p>
        <p>
            Copyright © 2013 All Rights Reserved
        </p>
    </div>
</div>

